
@media (min-width: 800px) {
    #glass {display: flex; flex-direction: row; height: 100vh;}
    .photo {height: 100px;}
}

body{
}
#glass{
    display: flex;
    flex-direction: column;
    height: 1200px;

}
#headerContent {
    border: 6px solid rgb(20, 20, 21);
    border-radius: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    background-color: rgb(141, 140, 140);
    color: white;
    flex-direction: column;
    flex-basis: 15%;
}

#images {
    color: white;
    display: flex;
    flex-basis: 85%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#logo {
    border: 3px solid black;
    border-radius: 25px;
}
